@{
    ViewBag.Title = "EchoConnection";
}

<h2>Echo Connection</h2>

<script language="javascript" type="text/javascript">

    $(function()
    {
        var connection = $.connection('echo');

        connection.received(function(data)
        {
            $('#messages').append('<li>' + data + '</li>');
        });

        connection.start();
    });

</script>

<ul id="messages">
</ul>